
@import '~@angular/material/theming';

$color-black: #212121;
$color-black-secondary: #212529;
$color-black-light: #424242;

$color-grey-1: #757575;
$color-white-1: #fafafa;

$default-font-color: $color-black-secondary;

$default-font-size: 1.6rem;
$default-line-height: 1.5;


$color-primary: #3f51b5;
$color-primary-light: lighten($color-primary, 45%);

// Get a specific hue for a palette. 
// See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.
// background-color: mat-color($accent, 300);

// Get a relative color for a hue ('lighter' or 'darker')
// outline-color: mat-color($accent, lighter);

// Get a constrast color for a hue by adding `-contrast` to any other key.
// border-color: mat-color($primary, '100-constrast');
