
.u-text-center {
    text-align: center !important;
}

.u-text-right {
    text-align: right !important;
}

.u-margin-bottom-lower {
    margin-bottom: 1.2rem !important;
}

.u-margin-bottom-low {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-huge {
    margin-bottom: 5rem !important;
}

.u-margin-top-huge {
    margin-top: 5rem !important;
}

.u-fill-remaining-space {
    flex: 1 1 auto !important;
}
