@import 'variables';
@import 'placeholders';

.section-summary {
    padding: 0 4rem;
}

.summary {
    display: flex;

    &__main {
        flex: 0 1 100rem;
    }

    &__heading {

        margin: 0;
        font-weight: 500;
        @extend %flex-align-center;

        &--main {
            margin-right: 2rem;
        }

        &--sub {
            font-size: 1.8rem;
        }
    }

    &__nav {

    }

    &__content {
        border: 1px solid $color-black-light;
        background-color: white;
        padding: 1.6rem;
        border-radius: 0 0 3px 3px;

    }

    &__default {
        @extend %flex-center;
        min-height: 50rem;
    }


    &__sub {

    }

    &__map {

    }


}

.nav {
    &__list {
        display: flex;
    }

    &__item {
        flex: 1 1 30rem;
        
        &:not(:last-of-type) {
            margin-right: 1.6rem;
        }
    }
}

.button {
    @extend %flex-align-center;

    &__icon {
        margin-right: 1rem;
    }
}
