<section class="section-summary">
  <div class="summary">

    <div class="summary__main">
      <div class="summary__heading u-margin-bottom-medium">
        <h1 class="mat-h1 summary__heading">
          <span class="summary__heading--main">Podsumowanie</span>
          <span class="summary__heading--sub">Ostatnie 30 dni</span>
        </h1>
        <span class="u-fill-remaining-space"></span>
        <app-button-dropdown [opened]="opened" (click)="opened = !opened">
            <div class="button">
                <mat-icon class="button__icon">date_range</mat-icon>
                <span>Ostatni miesiąc</span>
            </div>
        </app-button-dropdown>
      </div>
      <div class="summary__nav nav">
        <ul class="nav__list">
          <li class="nav__item" *ngFor="let label of (summaryLablesArray$ | async);">
              <app-summary-label
                (click)="changeLabel(label?.id)" 
                [title]="label?.title"
                [value]="label?.value"
                [active]="activeLabel === label?.id"
                [prec]="label?.prec"></app-summary-label>
          </li>
        </ul>
      </div>
      <div class="summary__content">
        <!-- {{ summaryLablesArray$ | async | json}} -->
        <div [ngSwitch]="activeLabel">
          <ng-container *ngFor="let label of (summaryLablesArray$ | async)">
            <div *ngSwitchCase="label?.id">
              <app-line-chart [@enterTrigger]="'fadeIn'" [stocks]="label?.stocks" [title]="label?.title"></app-line-chart>
            </div>
          </ng-container>
        
          <div *ngSwitchDefault class="summary__default">
            Wybierz wykres
          </div>
        </div>

      </div>

    </div>

    <div class="summary__sub">
      <div class="summary__heading">

      </div>
      <div class="summary__map">


      </div>     
    </div>

  </div>
</section>