@import 'variables';
@import 'placeholders';

.button-dropdown {

    cursor: pointer;
    @extend %flex-align-center;
    text-align: right;
    padding: .4rem 1.6rem;
    border-radius: 3px;

    &__content {
        margin-right: 1rem;
    }

    &__indicator {
        @extend %flex-align-center;
    }
}