<div role="button" class="button-dropdown" matRipple>
  <div class="button-dropdown__content">
    <ng-content></ng-content>
  </div>
  <div class="button-dropdown__indicator">
    <mat-icon class="button-dropdown__icon" [@rotate]="opened ? 'opened' : 'closed'">arrow_drop_down</mat-icon>
  </div>
</div>
