<footer class="footer">
    <mat-toolbar class="footer__bar">
        <div class="footer__info mat-body-strong u-text-center">Patryk Piosik: quest from Nextapps &copy; {{ year | date: 'yyyy' }}</div>
    </mat-toolbar>
</footer>