@import 'variables';
@import 'placeholders';

.header {
    &__content {
        padding: 0 2rem;
    }

    &__brand {
        @extend %flex-align-center;

    }

    &__app-name {
        padding-right: 3rem;
        cursor: pointer;
    }

    &__sub-text {
        padding-left: 2rem;
        border-left: 2px solid $color-grey-1;
        line-height: 48px;

    }

    &__actions {

    }

    &__list {
        display: flex;
    }

    &__item {
        &:not(:last-of-type) {
            margin-right: 3rem;
        }

        @extend %flex-align-center;
    }

    &__icon {
        margin-right: 2rem;
    }

    &__link {

    }
}

.app-name {
    &__main {
        color: $color-grey-1;
    }
    &__sub {

    }
}

.button {
    &__text-main {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: $default-line-height;
    }
}