<header class="header">
    <mat-toolbar>
        <mat-toolbar-row class="header__content">
            <div class="header__brand">
                <div class="header__app-name app-name" role="button" (click)="toggleSidebar();" matRipple>
                    <div class="app-name__main">Spark Pay</div>
                    <div class="mat-small app-name__sub">Manager Studio</div>
                </div>
                <div class="header__sub-text">Reserved</div>
            </div>
    
            <div class="u-fill-remaining-space"></div>
    
            <div class="header__actions">
                <ul class="header__list">
                    <li class="header__item">
                        <button mat-button> <mat-icon class="header__icon">filter_3</mat-icon> Zapisane raporty </button>
                    </li>
                    <li class="header__item">
                        <button color="primary" mat-raised-button> Nowa kampania </button>
                    </li>
                    <li class="header__item">
                        <app-button-dropdown [opened]="opened" [matMenuTriggerFor]="menu" (click)="opened = !opened">
                            <div class="button" >
                                <div class="button__text-main">LPP S. A.</div>
                                <div class="mat-small button__text-sub">r.dworkowski@lppsa.com</div>
                            </div>
                        </app-button-dropdown>

                        <mat-menu #menu="matMenu" (closed)="opened = !opened">
                            <button mat-menu-item>
                                <mat-icon>settings</mat-icon>
                                <span>Ustawienia</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>exit_to_app</mat-icon>
                                <span>Wyloguj</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
