<app-header (triggerSidebar)="sidebarOpened = !sidebarOpened"></app-header>

<app-sidebar [opened]="sidebarOpened">
  <main class="main" role="main">
    <ng-content></ng-content>
  </main>
</app-sidebar>

<app-footer></app-footer>
