<mat-sidenav-container>
    <mat-sidenav 
      [autoFocus]="true"
      #sidenav 
      mode="side" 
      [opened]="opened" 
      class="sidebar">
      

      <div class="sidebar__content">

        <div class="sidebar__main u-margin-bottom-medium">
          <ul class="sidebar__list">
            <li class="sidebar__item" *ngFor="let item of mainNavItems; trackBy:item?.id">
              <a 
                class="sidebar__link" 
                [routerLink]="item.path" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
                mat-button> <mat-icon class="sidebar__icon">{{item.iconName}}</mat-icon> {{item.display}} </a>
            </li>
          </ul>
        </div>


        <div class="sidebar__raports">
          <h3 class="mat-h3 sidebar__heading">Raporty</h3>
  
          <ul class="sidebar__list">
            <li class="sidebar__item" *ngFor="let item of raportItems; trackBy:item?.id">
              <a 
                class="sidebar__link" 
                [routerLink]="item.path" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
                mat-button> <mat-icon class="sidebar__icon">{{item.iconName}}</mat-icon> {{item.display}} </a>
            </li>
          </ul>
        </div>



      </div>

    </mat-sidenav>
    
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>

