@import 'variables';

.sidebar {
    padding: 3rem 0;
    display: flex;
    min-width: 25rem;

    &__content {
        flex: 0 0 30rem;
    }

    &__list {

    }

    &__item {

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }

    &__link {
        width: 100%;
        text-align: left;
        padding: 0 2rem;
        border-radius: 0;
    }

    &__link.active {
        color: $color-primary;
        background-color: $color-primary-light;
    }

    &__icon {
        margin-right: 2rem;
    }


    &__heading {
        text-transform: uppercase;
        color: $color-grey-1;
        font-size: 1.4rem;
        padding: 0 2rem;
    }
}