<div class="label" [ngClass]="{'label--active': active}" role="button" matRipple>
  <h3 class="mat-title label__title">{{title}}</h3>
  <span class="label__value u-margin-bottom-lower">{{value}}</span>
  <span class="label__prec" appPositiveOrNegative>{{prec}}</span>
</div>