@import 'variables';

.label {

    border: 1px solid $color-black-light;
    background-color: white;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    cursor: pointer;

    &--active {
        margin-bottom: -1px;
        border-bottom: 1px solid white;
        cursor: default;

        & > .label__title {
            color: $color-primary;
        }
    }

    &__title {
        font-weight: 400;
    }
    &__value {
        font-weight: 500;
        font-size: 3rem;
    }
    &__prec {

    }
}